main, header {
  animation: fadeIn 1s ease-in;
}
.header-decoration {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
}

.app {
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.decorative-heading {
  border-bottom: 1px solid black;
  width: 90vw;
}

.app-logo {
  width: 50vw;
  display: flex;
  justify-content: center;
}

.app-logo img {
  max-width: 100%;
}

@media screen and (max-width: 800px){
  .app-logo  {
    width: 90vw;
  }
}