.search-button img {
  width: 30px;
}

.search-section {
  display: flex; 
  align-items: center;
}

.search-input {
  height: 30px;
  border: 1px solid grey;
  border-radius: 5px;
  animation: grow 1s ease-in;
}

form {
  display: flex;
}

.go {
  height: 30px;
  background-color: rgb(176, 176, 240);
  padding: 0px 5px;
  margin: 0;
  margin-left: 5px;
  display: flex; 
  align-items: center;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  animation: fadeIn 1s ease-in;
}

.search-submit-btn {
  cursor: pointer;
  background-color: rgb(114, 114, 243);
  color: white;
}