.description-page {
  width: 90vw;
}

.article-detail-img {
  width: 100%;
}

.description-divider {
  margin: 10px 0px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.408);
}

.article-link {
  color: blue; 
  text-decoration: underline;
}

/* .description-article {
  display: flex; 
  flex-direction: column;
  align-items: center;
} */

@media screen and (min-width: 1300px){
  .description-page {
    width: 80vw;
  }
}

@media screen and (min-width: 1700px){
  .description-page {
    width: 70vw;
  }
}

@media screen and (min-width: 2000px){
  .description-page {
    width: 60vw;
  }
}